﻿<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @*@Styles.Render("~/Content/css")*@
    @*@Scripts.Render("~/bundles/modernizr")*@
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <script src="/Content/js/jquery-2.2.0.min.js"></script>
    <script src="/Content/js/moment.min.js"></script>
    <script src="/Content/js/bootstrap.min.js"></script>
    <script src="/Content/js/bootstrap-datetimepicker.min.js"></script>
    <link rel="stylesheet" href="/Content/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/Content/css/bootstrap-datetimepicker.min.css" />
    <script src="/Content/js/moment-ru.js"></script>

</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">
                    СКУД УРВ
                </a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="/formfilter/">Отчет</a></li>
                    <li><a href="/demon/">Ручной управление</a></li>
                    <li><a href="/home/login/">Войти</a></li>
                </ul>
            </div>

        </div>
    </nav>

    <div class="container">
        @RenderBody()
        
    </div>
</body>
</html>
