﻿@model SKUDWebReporting.Models.FilerFormModel
@{
    ViewBag.Title = "Index";
}
@{
    var Specialities = Model.Specialities;

    if (Model.Error.Count > 0)
    {
        <p>Во время работы приложения возникли следующие ошибки:</p>
        foreach(var item in Model.Error)
        {
            <p>@item</p>
        }
    }
}
@if(Model.Error.Count == 0)
{ 
    <div class="col-sm-6" style="height:130px;">
        <div class="form-group">

            <form method="get" action="/formfilter/filter">
                <!-- DATE START -->
                <label>Начальная дата</label>
                <div class='input-group date' id='date1'>
                    <input name="dateStart" type='text' class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>

                <!-- DATE FINISH -->
                <label>Конечная дата</label>
                <div class='input-group date' id='date2'>
                    <input name="dateEnd" type='text' class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
                <div class="radio">
                    <label>
                        <input name="choice" id="checkedStudent" value="students" type="radio" />
                        Студенты
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input name="choice" id="checkedGuest" value="guests" type="radio" />
                        Гости
                    </label>
                </div>
                <div id="panelStudnets">
                    <!-- Specialities list -->
                    <label>Выбор специальности</label>
                    <select multiple id="specialities" name="speciality" class="form-control" style="height:150px;">
                        <option>(пусто)</option>
                        @if(Specialities != null)
                        {
                            foreach (var item in Specialities)
                            {
                                <option value="@item.RefKey">@item.Description</option>
                            }
                        }
                    </select>

                    <!-- Groups list -->
                    <label>Выбор групп</label>
                    <select multiple id="groups" name="groups" class="form-control" style="height:150px;">

                    </select>

                    <!-- Students list -->
                    <label>Студент\персонал</label>
                    <select multiple id="studnets" name="studnets" class="form-control" style="height:300px;">

                    </select>
                </div> 
                <div id="panelGuests">
                    <label>Гости</label>
                    <select multiple id="guests" name="guests" class="form-control" style="height:400px;">
 
                    </select>
                </div>
                <label></label>
                <input type="submit" value="Далее" class='input-group'  />
            </form>

        </div>
    </div><br>
    <script type="text/javascript">
    $(function () {
        $('#date1').datetimepicker({
            locale: 'ru',
            format: 'YYYY-MM-DD HH:mm:ss',
        });
    });

    $(function () {
        $('#date2').datetimepicker({
            locale: 'ru',
            format: 'YYYY-MM-DD HH:mm:ss'
        });
    });

    $(function () {
        $specialities = $('#specialities');
        $groups = $('#groups');
        $students = $('#studnets');

        OnSpecialitiesChange = function () {
            $.ajax({
                url: "/FormFilter/GroupsBySpecialities?specialitiesIds=" + $specialities.val(),
                success: function (data) {
                    options = "";
                    options += '<option value="0">(пусто)</option>'
                    $(data).each(function(i,v) {
                        options += '<option value="' + v.id + '"' + '>' + v.name + '</option>'
                    });
                    $groups.html(options);
                }
                });
        }

        OnGroupsChanged = function () {
            $.ajax({
                url: "/FormFilter/StudentsByGroups?groupsIds=" + $groups.val(),
                success: function(data) {
                    options = '';
                    options += '<option value="0">(пусто)</option>';
                    $(data).each(function (i, v) {
                        options += '<option value="' + v.id + '"' + '>' + v.name + '</option>'
                    });
                    $students.html(options);
                }
            });
        }

        $specialities.change(OnSpecialitiesChange);
        $groups.change(OnGroupsChanged);

    })

    $(function () {
        $panelStudnets = $('#panelStudnets');
        $panelGuests = $('#panelGuests');

        $checkedGuest = $('#checkedGuest');
        $checkedStudent = $('#checkedStudent');

        $panelStudnets.hide();
        $panelGuests.hide();
        
        $checkedGuest.click(function () {
            $panelStudnets.hide();
            $panelGuests.show();
        });

        $checkedStudent.click(function () {
            $panelStudnets.show();
            $panelGuests.hide();
        });

    })

</script>
}