﻿@model SKUDWebReporting.Models.ReportRow[]
@{
    ViewBag.Title = "Filter";
}

    @if (Model != null)
    {
        <table class="table table-condensed">
            <thead>
                <tr>
                    <td>ФИО</td>
                    <td>Время прохода</td>
                    <td>Проходная</td>
                    <td>Направление прохода</td>
                </tr>
            </thead>
            @foreach (var item in @Model)
            {
            <tbody>
                <tr>
                    <td>@item.fio</td>
                    <td>@item.passageDate</td>
                    <td>@item.gate</td>
                    <td>@(item.direction == "OUT" ? "Вышел" : "Зашел")</td>
                </tr>
            </tbody>
            }
        </table>
    }
    else
    {
       <p>Список пуст</p>
    }

