﻿<p>На этой странице можно запустить сбор данных демона.</p>
<p>Данная процедура может занять до 5 минут.</p>
<p>Обновить данные с контроллеров сейчас:</p>

<p><button class="btn btn-default" id="button_start">Начать</button></p>
<p id="status_label"></p>
<script>
    $(function () {
        $btn_start = $('#button_start');
        $status_label = $('#status_label');
        
        $btn_start.click(function () {
            $status_label.text("Подождите выполняется запрос ... ");
            $btn_start.prop("disabled", true);

            $.ajax({
                method: "POST",
                url: "/demon/run",
                success: function (data) {
                    if (typeof data == "object")
                    {
                        if (data.result == "ok")
                        {
                            $status_label.text("Сбор данных успешно завершен");
                            $btn_start.prop("disabled", false);
                        }
                        else
                        {
                            $status_label.text(data.result);
                        }
                    }
                },
                error: function () {
                    $status_label.text("Произошла ошибка");
                }
            });

        })
    });
</script>
