﻿<div class="col-xs-4">
    <div class="panel panel-default" id="login_panel">
        <div class="panel-heading ">Форма входа</div>
        <div class="panel-body">
            <form method="post" action="/home/login" id="login_form">
                <div class="form-group">
                    <label>Логин</label>
                    <input id="lgn" type="text" class="form-control" placeholder="Логин">
                    <input id="hashlgn" name="hashlgn" type="hidden">
                </div>
                <div class="form-group">
                    <label>Пароль</label>
                    <input id="pwd" type="password" class="form-control" placeholder="Пароль">
                    <input id="hashpwd" name="hashpwd" type="hidden">
                </div>
                <div class="form-group">
                    <input type="button" class="form-control" value="Войти" onclick="SubmitForm();">
                </div>
            </form>
        </div>

    </div>
    <script src="/Content/js/sha.js"></script>

    <script>
        var SubmitForm = function()
        {
            $(function () {
                $('#hashpwd').val(hex_sha1($('#pwd').val()));
                $('#hashlgn').val(hex_sha1($('#lgn').val()));
                $('#login_form').submit();
            });
        }

    </script>
</div>